/* ======= Grid ======= */
#container-page {
  /*background: url(../_css-lib/960gs/code/img/16_col-trans.gif) center repeat-y;*/ }

/* ======= Elements ======= */
body {
  background: #f2f2e9 url(../_img-ui/sandstone_bg.gif);
  font: 75%/1.65 "Quattrocento Sans", "Helvetica Neue", "Helvetica", Arial, "Liberation Sans", FreeSans, sans-serif; }

input.submit {
  padding: 5px;
  background: #761F88;
  color: #fff;
  border: 0;
  font-size: 2em;
  text-shadow: 0 0 1px #222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* ======= Utility Classes ======= */
.hide {
  display: none; }

.block {
  display: block; }

/* ======= Page Hero ======= */
#page-hero {
  height: 150px;
  width: 100%;
  background: url("../_img/partners_hero.jpg") no-repeat;
  position: relative;
  margin-top: -75px;
  margin-bottom: 15px; }

body.page-97 #page-hero {
  background-image: url("../_img/support_donate_hero.jpg"); }
body.page-69 #page-hero {
  background-image: url("../_img/partners_hero.jpg"); }
body.page-10 #page-hero {
  background-image: url("../_img/resources_hero.jpg"); }
body.archive #page-hero {
  background-image: url("../_img/past_events_hero.jpg"); }
body.page-12 #page-hero {
  background-image: url("../_img/our_new_center_hero.jpg"); }
body.page-14 #page-hero {
  background-image: url("../_img/faqs_hero.jpg"); }
body.page-8 #page-hero {
  background-image: url("../_img/about_us_hero.jpg"); }
body.page-template-default #main-content {
  top: 0;
  margin-bottom: 25px; }

/* ======= Subnav ======= */
#subnav {
  position: relative;
  top: 0;
  background: url(../_img-ui/sub_nav_bg_top.png) 0 5px no-repeat;
  padding-top: 15px;
  margin-bottom: 20px; }

#subnav-inner {
  background: url(../_img-ui/sub_nav_bg_middle.png) repeat-y; }

body.has-parent #subnav li.page_item a {
  opacity: .7;
  color: #666; }

body.singular-page #subnav ul li.current_page_item a {
  opacity: 1;
  color: #630077; }

#subnav ul {
  margin: 0;
  background: url(../_img-ui/sub_nav_bg_bottom.png) 0 bottom no-repeat;
  min-height: 99px;
  height: auto !important;
  height: 99px;
  padding-bottom: 10px; }
#subnav .page_item {
  list-style: none;
  margin: 0; }
#subnav a {
  color: #630077;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1.3em; }
  #subnav a:link {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.3em;
    color: #630077; }
  #subnav a:visited {
    text-decoration: none;
    color: #630077; }
  #subnav a:hover {
    text-decoration: underline;
    color: #000; }

/* ======= Primary Sidebar ======= */
#primary-sidebar {
  position: relative;
  top: 0;
  margin-bottom: 20px; }

/* ======= Footer ======= */
#footer-container-inner {
  background: #595959 url(../_img-ui/footer_edge.gif) 0 0 repeat-x; }

#footer {
  color: #fff;
  padding-top: 30px;
  font-size: .9em; }
  #footer a {
    color: #fff;
    text-decoration: none;
    display: block; }
    #footer a:link {
      color: #fff;
      text-decoration: none;
      display: block; }
    #footer a:visited {
      color: #fff; }
    #footer a:hover {
      text-decoration: underline; }
    #footer a:active {
      background: #fff;
      color: #333;
      text-decoration: none; }

#affiliates li {
  float: left;
  margin-left: 15px; }

/* ======= Footer Contact Info ======= */
#footer-contact-info h4 {
  height: 42px;
  width: 120px;
  background: url(../_img/botw_logo_small.png) no-repeat; }

/* ======= Footer Links ======= */
#footer-links {
  font-size: .9em; }
  #footer-links h4 {
    margin: 0 0 .5em 0;
    font-size: 1.35em;
    font-weight: normal;
    /*
    padding: 3px; 
    margin-left: -3px; 
    background: #4F4F4F;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    */ }
    #footer-links h4 a {
      font-family: Georgia, "Times New Roman", Times, serif; }
  #footer-links li {
    list-style: none;
    margin-bottom: .5em; }

/* ======= Vertical Controls ======= */
/* Attic */
.attic_1 {
  margin-top: 5px; }

.attic_2 {
  margin-top: 10px; }

.attic_3 {
  margin-top: 15px; }

.attic_4 {
  margin-top: 20px; }

.attic_5 {
  margin-top: 25px; }

.attic_6 {
  margin-top: 30px; }

.attic_7 {
  margin-top: 35px; }

.attic_8 {
  margin-top: 40px; }

.attic_9 {
  margin-top: 45px; }

.attic_10 {
  margin-top: 50px; }

/* Basement */
.basement_1 {
  margin-bottom: 5px; }

.basement_2 {
  margin-bottom: 10px; }

.basement_3 {
  margin-bottom: 15px; }

.basement_4 {
  margin-bottom: 20px; }

.basement_5 {
  margin-bottom: 25px; }

.basement_6 {
  margin-bottom: 30px; }

.basement_7 {
  margin-bottom: 35px; }

.basement_8 {
  margin-bottom: 40px; }

.basement_9 {
  margin-bottom: 45px; }

.basement_10 {
  margin-bottom: 50px; }

/* Ceiling */
.ceiling_1 {
  padding-top: 5px; }

.ceiling_2 {
  padding-top: 10px; }

.ceiling_3 {
  padding-top: 15px; }

.ceiling_4 {
  padding-top: 20px; }

.ceiling_5 {
  padding-top: 25px; }

.ceiling_6 {
  padding-top: 30px; }

.ceiling_7 {
  padding-top: 35px; }

.ceiling_8 {
  padding-top: 40px; }

.ceiling_9 {
  padding-top: 45px; }

.ceiling_10 {
  padding-top: 50px; }

/* Floor */
.floor_1 {
  padding-bottom: 5px; }

.floor_2 {
  padding-bottom: 10px; }

.floor_3 {
  padding-bottom: 15px; }

.floor_4 {
  padding-bottom: 20px; }

.floor_5 {
  padding-bottom: 25px; }

.floor_6 {
  padding-bottom: 30px; }

.floor_7 {
  padding-bottom: 35px; }

.floor_8 {
  padding-bottom: 40px; }

.floor_9 {
  padding-bottom: 45px; }

.floor_10 {
  padding-bottom: 50px; }

/* Lift */
.lift_1 {
  margin-top: -5px; }

.lift_2 {
  margin-top: -10px; }

.lift_3 {
  margin-top: -15px; }

.lift_4 {
  margin-top: -20px; }

.lift_5 {
  margin-top: -25px; }

.lift_6 {
  margin-top: -30px; }

.lift_7 {
  margin-top: -35px; }

.lift_8 {
  margin-top: -40px; }

.lift_9 {
  margin-top: -45px; }

.lift_10 {
  margin-top: -50px; }

/* Drop */
.drop_1 {
  margin-bottom: -5px; }

.drop_2 {
  margin-bottom: -10px; }

.drop_3 {
  margin-bottom: -15px; }

.drop_4 {
  margin-bottom: -20px; }

.drop_5 {
  margin-bottom: -25px; }

.drop_6 {
  margin-bottom: -30px; }

.drop_7 {
  margin-bottom: -35px; }

.drop_8 {
  margin-bottom: -40px; }

.drop_9 {
  margin-bottom: -45px; }

.drop_10 {
  margin-bottom: -50px; }

/* ======= Horizontal Controls (Micro-level) ======= */
/* Tug: Pulling an Element [from] the Left Some */
.tug_1 {
  margin-left: -5px; }

.tug_2 {
  margin-left: -10px; }

.tug_3 {
  margin-left: -15px; }

.tug_4 {
  margin-left: -20px; }

.tug_5 {
  margin-left: -25px; }

.tug_6 {
  margin-left: -30px; }

.tug_7 {
  margin-left: -35px; }

.tug_8 {
  margin-left: -40px; }

.tug_9 {
  margin-left: -45px; }

.tug_10 {
  margin-left: -50px; }

/* Nudge: Pushing an Element [from] the Left Some */
.nudge_1 {
  margin-left: 5px; }

.nudge_2 {
  margin-left: 10px; }

.nudge_3 {
  margin-left: 15px; }

.nudge_4 {
  margin-left: 20px; }

.nudge_5 {
  margin-left: 25px; }

.nudge_6 {
  margin-left: 30px; }

.nudge_7 {
  margin-left: 35px; }

.nudge_8 {
  margin-left: 40px; }

.nudge_9 {
  margin-left: 45px; }

.nudge_10 {
  margin-left: 50px; }

/* Shove: Element Pushing Right Some */
.shove_1 {
  margin-right: 5px; }

.shove_2 {
  margin-right: 10px; }

.shove_3 {
  margin-right: 15px; }

.shove_4 {
  margin-right: 20px; }

.shove_5 {
  margin-right: 25px; }

.shove_6 {
  margin-right: 30px; }

.shove_7 {
  margin-right: 35px; }

.shove_8 {
  margin-right: 40px; }

.shove_9 {
  margin-right: 45px; }

.shove_10 {
  margin-right: 50px; }

/* Tow: Pulling an Element [from] the Right Some */
.tow_1 {
  margin-right: -5px; }

.tow_2 {
  margin-right: -10px; }

.tow_3 {
  margin-right: -15px; }

.tow_4 {
  margin-right: -20px; }

.tow_5 {
  margin-right: -25px; }

.tow_6 {
  margin-right: -30px; }

.tow_7 {
  margin-right: -35px; }

.tow_8 {
  margin-right: -40px; }

.tow_9 {
  margin-right: -45px; }

.tow_10 {
  margin-right: -50px; }

/* ======= Lining Controls ======= */
/* Bulwark Bastions Bellowed Bastardly Bison */
.bulwark_1 {
  padding: 5px; }

.bulwark_2 {
  padding: 10px; }

.bulwark_3 {
  padding: 15px; }

.bulwark_4 {
  padding: 20px; }

.bulwark_5 {
  padding: 25px; }

/* Shouldering Our Adjacent Cousins */
.shoulder_1 {
  padding: 0 5px; }

.shoulder_2 {
  padding: 0 10px; }

.shoulder_3 {
  padding: 0 15px; }

.shoulder_4 {
  padding: 0 20px; }

.shoulder_5 {
  padding: 0 25px; }

/* ======= List Classes ======= */
ul.inline li, ol.inline li {
  display: inline; }

/* ======= GTFO Classes ======= */
.no_list_style {
  list-style: none; }

.no_indent li, .no_margin {
  margin: 0; }

/* Don't write more CSS to nullify inheritance. */
.no_margin_top {
  margin-top: 0; }

.no_margin_right {
  margin-right: 0; }

.no_margin_bottom {
  margin-bottom: 0; }

.no_margin_left {
  margin-left: 0; }

/* Don't write more CSS to nullify inheritance. */
.no_padding {
  padding: 0; }

.no_padding_top {
  padding-top: 0; }

.no_padding_right {
  padding-right: 0; }

.no_padding_bottom {
  padding-bottom: 0; }

.no_padding_left {
  padding-left: 0; }

/* ======= Page Separators ======= */
/* ======= Floating / Clearing ======= */
.float-left, .alignleft {
  float: left; }

.float-right, .alignright {
  float: right; }

.alignleft, .alignright {
  margin: 0 1em 1em 0; }

.clear-all {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

/* For modern browsers */
.clear-fix:before, .clear-fix:after {
  content: "";
  display: table; }

ol.comment-list .comment:before, ol.comment-list .comment:after {
  content: "";
  display: table; }

.clear-fix:after, ol.comment-list .comment:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.clear-fix, ol.comment-list .comment {
  zoom: 1; }

/* ======= Mystery! ======= */
.bleach {
  display: none !important; }

.cloak {
  visibility: hidden; }

.expose {
  outline: 2px #c30 solid; }

.indent_zap {
  text-indent: -9999px; }

/* apply to block-level elems */
.position_zap {
  position: absolute;
  left: -9999px; }
